<!DOCTYPE html>
<html>
<head>
	<title>Printing Name</title>
	<style type="text/css">
		h5{
			font-size: 45px;
			font-family: : arial;
			background-color: red;
			color: yellow;
			text-align: center;
		}
		#ty
		{
			background-color: green;
			color: white;
		}
		.dr
		{
			background-color: yellow;
			color: red;
			font-size: 50px;

		}
	</style>
</head>
<body>
<h3>this is your name entered:<p><span style="font-size: 50px;color: red">{{na}}</span></p></h3>
<h5 id='ty'>{{na}}</h5>
<h5 class="dr">my name is bijay</h5>
<h3 class="dr">This is dr</h3>
<h5>my content</h5>
</body>
</html>