<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap registration form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>this is bijay page</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>this is sample</h1>
				
			</div>
			

		</div>
		

	</div>

</body>
</html>