<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap registration form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style type="text/css">
  	.jumbotron{
  		background-color: yellow;
  	}
  	#kl{
  		background-color: red;
  	}
  	#yu{
  		background-color: grey;
  	}
  	#qw{
  		background-color: blue;
  		color: white;
  	}
  </style>
</head>
<body>
	<div class="container">
		<div class="jumbotron" id="kl">
			<h1>this is bijay page</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="jumbotron" id="yu">
				<h1>this is sample</h1>
				
			</div>
			

		</div>
		

	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>Welcome home</h2>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron" id="qw">
				<h2>Bijay</h2>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>Adhikari</h2>
			</div>
		</div>
	</div>

</body>
</html>