<!DOCTYPE html>
<html>
<head>
	<title>user entered data</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="margin-top:30px">
			
			<h4>Entered name: {{fr.username}} </h4>
			<h4>Entered gender: {{fr.gend}} </h4>
			<h4>Entered language: {{fr.languag}} </h4>
			<h4>Entered message: {{fr.messag}} </h4>

			
		</div>
	</div>

</body>
</html>